/* :root {
	--blue: #1e90ff;
	--white: #ffffff;
} */

a {
	text-decoration: none;
	color: inherit;
}

label {
	font-weight: bold;
	margin-left: 5px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #e2f1e7;
	background-color: #243642;
}

.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginCard {
	background-color: #629584;
	color: #e2f1e7;
	display: flex;
}

h3 {
	/* color: #243642; */
	margin: 15px 0;
	/* font-size: large; */
	font-weight: bold;
}

h3:hover {
	color: #243642;
}

.loginUser {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 5px 15px;
}

.loginUser input {
	height: 2rem;
	border-radius: 10px;
}

.loginSubmit {
	display: flex;
	justify-content: end;
	margin-right: 20px;
}

.loginSubmit button {
	background-color: #243642;
	color: #e2f1e7;
	display: flex;
	justify-content: end;
	margin: 15px 0;
	border: none;
}

.loginSubmit button:hover {
	background-color: #e2f1e7;
	color: #243642;
}

.register {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* home page */

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.homebtn {
	display: flex;
	flex-direction: row;
}

.homebtn button {
	height: 50px;
	width: 200px;
	font-size: 20px;
	border-radius: 15px;
	background-color: #629584;
	color: #e2f1e7;
	margin: 15px 1rem;
	border: none;
}

.homebtn button:hover {
	background-color: #e2f1e7;
	color: #243642;
}

/* Add user */

.adduser {
	/* height: 80vh; */
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	/* align-items: center; */
	flex-wrap: nowrap;
}

.addusercard {
	background-color: #629584;
	color: #e2f1e7;
	display: flex;
	padding: 15px;
	width: 500px;
}

.adduserform div {
	margin: 15px 0;
	/* width: 500px; */
}

.adduserButton {
	background-color: #243642;
	color: #e2f1e7;
	display: flex;
	justify-content: end;
	/* margin-top: 15px; */
	border: none;
}

.adduserButton:hover {
	background-color: #e2f1e7;
	color: #243642;
}

@media only screen and (max-width: 820px) {
	.dates {
		display: flex;
		flex-direction: column;
	}
	.alltaskscard {
		display: flex;
		flex-direction: column !important;
		align-items: center;
		/* justify-content: center; */
		/* height: 100%; */
	}
}

@media only screen and (max-width: 1020px) {
	.alltasksupcard {
		display: none !important;
	}
}

/* header dropdown */
.dropdown-toggle::after {
	content: none;
}

.fa-solid {
	color: #e2f1e7;
}

/* All Tasks */
.alltasksupcard {
	background-color: #629584;
	color: #e2f1e7;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 25px 20px;
	font-size: 16px;
	border-radius: 25px;
	/* height: 50px; */
}
.alltaskscard {
	background-color: #629584;
	color: #e2f1e7;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
	font-size: 16px;
	border-radius: 25px;
	/* height: 50px; */
}

.alltaskscard span:nth-child(3) {
	display: inline-block;
	width: 280px;
	padding: 0 3px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.alltaskscard span:nth-child(2) {
	display: inline-block;
	width: 180px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.alltaskscard span button {
	background-color: #243642;
	color: #e2f1e7;
	/* display: flex; */
	/* justify-content: end; */
	/* margin-top: 15px; */
	padding: 10px 10px;
	border: none;
	border-radius: 7px;
}

.alltaskscard span button:hover {
	background-color: #e2f1e7;
	color: #243642;
}
