:root {
	--blue: #1e90ff;
	--white: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	color: #e2f1e7;
	background-color: #243642;
}

.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginCard {
	background-color: #629584;
	color: #e2f1e7;
	display: flex;
}

.loginCard form h3 {
	margin: 15px 0;
}

.loginCard form h3:hover {
	color: #243642;
}

.loginUser {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 5px 15px;
}

.loginSubmit {
	display: flex;
	justify-content: end;
	margin-right: 20px;
}

.loginSubmit button {
	background-color: #243642;
	color: #e2f1e7;
	display: flex;
	justify-content: end;
	margin: 15px 0;
	border: none;
}

.loginSubmit button:hover {
	background-color: #e2f1e7;
	color: #243642;
}

.register {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
